@model DemoWebApp.Models.JobPoster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobPoster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliesCounter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliesCounter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobPosterID }) |
    @Html.ActionLink("Back to List", "Offers")
</p>
